{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier {{category.libelle}}</h1>

    {{ form_start(formCategory) }}
        {{ form_row(formCategory.libelle) }}
        {{ form_row(formCategory.description) }}
        <button type="submit" class="btn btn-success">Ajouter une catégorie</button>
    {{ form_end(formCategory) }}

{% endblock %}
