{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <td>Nom</td>
            <td>Prix</td>
            <td>Description</td>
            <td>Action</td>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description | raw }}</td>
            <td>
                <a href={{ path('product_update', {'id':product.id}) }} class="btn btn-alert">Modifier</a>
                <a href={{ path('product_delete', {'id':product.id}) }} class="btn btn-alert">Supprimer</a>
                <a href={{ path('product_show', {'id':product.id}) }} class="btn btn-alert">Voir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
